{{template "base" .}}

{{define "header"}}
    <title>{{.SiteParams.name}} | {{.PageParams.title}}</title>
{{end}}

{{define "pageLinks"}}
    {{range $page := .PageParams.pages}}
        <p>
        <a href="{{$page.link}}"><strong>{{$page.name}}</strong></a>
        {{if $page.date}}
        | <em>{{$page.date}}</em>
        {{end}}
        {{if $page.summary}}
            <br>
            {{$page.summary}}
        {{end}}
        </p>
    {{end}}
{{end}}

{{define "content"}}

    {{block "pageHeading" .}}{{end}}

    {{if $.PageParams.pagesBeforeContent}}
        {{template "pageLinks" .}}
        <hr>
        {{template "mainText" .}}
    {{else}}
        {{template "mainText" .}}
        {{template "pageLinks" .}}
    {{end}}

{{end}}