{{template "base" .}}

{{define "header"}}
    <title>{{.SiteParams.name}} | {{.PageParams.title}}</title>
{{end}}

{{define "projectList"}}
    {{range $section := .PageParams.listSections}}
        <h2 id="{{$section.name}}">{{$section.name}}</h2>
        {{range $project := $section.items}}
            <p><a href="{{$project.link}}"><strong>{{$project.name}}</strong></a>
            {{if $project.location}}
                | <em>{{$project.location}}</em>
            {{end}}
            {{if $project.date}}
                | <em>{{$project.date}}</em>
            {{end}}
            </p>
            {{if or $project.beginning $project.description}}
                <p><strong><em>{{$project.beginning}}</em></strong>{{$project.description}}</p>
            {{end}}
            <p>
                {{if $project.links}}
                    |
                    {{range $link := $project.links}}
                        <a href="{{$link.link}}">{{$link.name}}</a> |
                    {{end}}
                {{end}}
            </p>
        {{end}}
    {{end}}
{{end}}

{{define "content"}}

    {{block "pageHeading" .}}{{end}}

    {{if $.PageParams.pagesBeforeContent}}
        {{template "projectList" .}}
        <hr>
        {{template "mainText" .}}
    {{else}}
        {{template "mainText" .}}
        {{template "projectList" .}}
    {{end}}
    
{{end}}