{{define "pathToPage"}}
    {{if .PageParams.path}}
        <div class="pathToPage">
            <p>
                <a href="/">~</a>
                {{range $page := .PageParams.path}}
                    /
                    <strong>
                        {{if $page.link}}
                        <a href="{{$page.link}}" {{if $page.self}}class="self"{{end}}>{{$page.name}}</a>
                        {{else}}
                        {{$page.name}}
                        {{end}}
                    </strong>
                {{end}}
            </p>
        </div>
    {{else if eq .PageParams.navbarName "home"}}
        <div class="pathToPage">
            <p>
                <a href="/" class="self">~</a>
            </p>
        </div>
    {{end}}
{{end}}